# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.gradle        text
*.java          text diff=java
*.pro           text
*.properties    text
*.xml           text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.jar     binary
*.png     binary